.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product{
  text-align: center;
  font-weight: 900;
  background-color :darkgrey

}

.menu-product{
  background-color:azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-bar{
  background-color:darkgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: large;
  font-weight: 700;
}

.pay{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.top-head{
  margin-right: 155px;
}

.acc{
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.connect{
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about{
  font-weight: 900;
}

.us{
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.chungtoi{
  max-width: 50%;
  margin: unset;
}

.logo{
  margin-left: 35%;
}

.image{
  margin-top: 0;
}